<h1>Editing Innappropiate Request</h1>

<%= render 'form', innappropiate_request: @innappropiate_request %>

<%= link_to 'Show', @innappropiate_request %> |
<%= link_to 'Back', innappropiate_requests_path %>
