<div class="row">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Welcome to Pissed!</h1>
	  <h2 class="display-7 font-italic">your platform to complain about the problems of the city.</h2>
          <p class="lead my-3">Here you will find a community of people who lived in diferents cities arround the country, where you can 				       complain about the multiples problem of the daily life.</p>
          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
        </div>
	<div class="col-md-6 px-0">
        	<img src="/appimages/angry-mob.jpg" class="img-thumbnail">
        </div>
      </div>
