<div class="container">
  <div class="jumbotron bg-danger text-danger " >
            <div class="col-md-12 text-center text-danger">
              <h1>Succesfully delete from dumpster</h1>
            </div>
  </div>

</div>

