
<div class="row">
</div>
<div class="jumbotron p-10 p-md-4 text-dark rounded bg-ligth">
<h3>
  Acceptable Use Policy
</h3>
  <br>
  <p>
    Our web application is committed to provide all our users with an efficient way to upload, share and comment on complaints on things such as public infrastructure, equipment, services, professionals, authorities, institutions,
    businesses, etc., which are broken, failing, and/or making people’s lives miserable.

    We are absolutely against the aggressive or discriminatory language so we will propose as a goal the elimination of any comment, post or user that presents this type of language.
  </p>
  <br>
  <h3>
    Terms of service
  </h3>
  <br>
  <p>
    By using Pissed you are accepting: do not steal content or violate copyright laws, do not use it for illegal activities and do not bother other users through it. We maintain our right to eliminate user accounts that do not comply with these rules.
  </p>
</div>
<div>

</div>