<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <div id="first">
        <div class="myform form ">
          <div class="logo mb-3">
            <div class="col-md-12 text-center">
              <h1>Change Password</h1>
            </div>
          </div>
          <form action="" method="post" name="login">
            <div class="form-group">
              <label for="exampleInputEmail1" class="normaltext">New Password</label>
              <a>
                <input type="email" name="nickname"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="*******">
              </a>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="normaltext" >Repeat New Password:</label>
              <input type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp" placeholder="*******">
            </div>
            <div class="form-group">
              <br/>
            </div>
            <div class="col-md-12 text-center ">
              <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">change password</button>
            </div>
            <div class="col-md-12 mb-3">
              <p class="text-center">
                <a href="javascript:void();" class="google btn mybtn"><i class="fa fa-google-plus">
                </i> *you must use 8 characters including at least one number and capital letters*
                </a>
              </p>

          </form>

        </div>
      </div>
      <div id="second">
        <div class="myform form ">
          <div class="logo mb-3">
            <div class="col-md-12 text-center">
              <h1 >Signup</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
