<h1>Pissed Home Page</h1>

<p>created by</p>
<p>Jaime Auger</p>
<p>Cristobal Uslar</p>



==>  <%= link_to "User Index", users_path, :class => 'header' %></li>
==>  <a href="/users/new">new user</a>

==>  <%= link_to "Post Index", users_path, :class => 'header' %></li>
==>  <a href="/posts/new">new post</a>

==>  <%= link_to "Comment Index", users_path, :class => 'header' %></li>
==>  <a href="/users/new">new user</a>

==>  <%= link_to "Zone Index", users_path, :class => 'header' %></li>
==>  <a href="/zones/new">new user</a>
